@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">GlobalTrans</h1>

    <div class="main-buttons">
        <a href="Employees">
            <button class="glow-on-hover" type="button" >Employees</button>
        </a>

        <a href="PhoneNumbers">
            <button class="glow-on-hover" type="button" >Contacts</button>
        </a>

        <a href="Professions">
            <button class="glow-on-hover" type="button" >Professions</button>
        </a>

        <a href="Emp_Prof">
            <button class="glow-on-hover" type="button" >Posts</button>
        </a>
    </div>
</div>

